* {
    font-family: arial;
    background-color: #9EC9F7;
    text-align: center;
}

img {
    width: 400px;
}

button {
    width: 15%;
  color:#000000;
  font: arial;
  font-size: 15px;
  background: #4280C2;
  border: none;
  box-shadow: 7px 7px 7px #999999;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
  background: #4280C2;
  transition: all .2;
}

button:hover {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    background: #294E75; opacity: 70%;
    transition: all .2;
  }



  
body.modo-noturno {
      background-color: #294E75;
  }
